@model GameStore.Areas.Admin.Models.ViewModels.CategoryListViewModel
@{
    ViewData["Title"] = Model.Title;
}


<div class="mt-lg-5">
    @if (!Model.Categories.Any())
    {
        @if (String.Equals(Model.QueryString, "notactive"))
        {
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="display-4">No Category has been deactivate yet.</h3>
                    <p><a asp-action="Index" asp-route-active="active">Visit Active Category List</a></p>
                </div>
            </div>
        }
        else { 
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="display-4">No Category has been created</h3>
                    <p>To create new tag click here.<a asp-action="CreateCategory">Create Category</a></p>
                </div>
            </div>
        }
    }
    else
    {

        <div class="row">
            <div class="col-6">
                <h3>@Model.Title</h3>
            </div>
            <div class="col-6">
                <div class="btn-group-sm float-right" role="group" aria-label="">
                    <a asp-action="CreateCategory" class="btn btn-dark"> Create Category</a>
                    <a asp-action="Index" asp-route-active="active" class="btn btn-dark"> Active Category</a>
                    <a asp-action="Index" asp-route-active="notactive" class="btn btn-dark">Deleted Category</a>
                    <a asp-action="Index" class="btn btn-dark">All Category</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-bordered ">
                    <thead class="thead-dark">
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.Name)</th>
                            <th>@Html.DisplayNameFor(m => m.NumberOProducts)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Categories)
                        {
                            <tr>
                                <td>@Html.DisplayFor(model => item.Name)</td>
                                <td>
                                    @if (item.GameCategories.Any())
                                    {
                                        <a href=#><span class="badge badge-light">@item.GameCategories.Count()</span></a>
                                    }
                                    else
                                    {
                                        <p>No Products</p>
                                    }
                                </td>
                                <td>
                                    @* When using many forms in same page. Main index or list View *@
                                    <form asp-action="ActivateCategory" asp-route-guidValue="@item.GuidValue" method="post">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="">
                                            <a asp-action="EditCategory" asp-route-slug="@item.Slug" asp-route-guid="@item.GuidValue.ToString()" class="btn btn-primary">Edit</a>
                                            <a asp-action="Details" asp-route-slug="@item.Slug" asp-route-guid="@item.GuidValue.ToString()" class="btn btn-primary">Details</a>
                                            @if (item.IsDeleted)
                                            {
                                                <input type="submit" value="Activate" class="btn btn-success" />
                                            }
                                            <a asp-action="Delete" asp-route-guid="@item.GuidValue.ToString()" class="btn btn-danger">Delete</a>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }

</div>


