@using GameStore.Utility
@model GameStore.Areas.Admin.Models.ViewModels.TagListViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="mt-lg-5">
    @if(!Model.Tags.Any())
    {
        <div class="row">
            <div class="col-12">
                <h3 class="display-4">No tags has been created</h3>
                <p>To create new tag click here.<a  asp-action="CreateTag">Create Tag</a></p>   
            </div>
        </div>
    }
    else
    {

    <div class="row">
        <div class="col-6">
            <h3>@Model.Title</h3>
        </div>
        <div class="col-6">
            <div class="btn-group-sm float-right" role="group" aria-label="">
                <a asp-action="CreateTag" class="btn btn-dark"> Create Tags</a>
                <a asp-action="Index" asp-route-active="active" class="btn btn-dark"> Active Tags</a>
                <a asp-action="Index" asp-route-active="notactive" class="btn btn-dark">Deleted Tags</a>
                <a asp-action="Index" class="btn btn-dark">All Tags</a>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-hover table-bordered ">
                    <thead class="thead-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Name)</th>
                        <th>@Html.DisplayNameFor(m => m.NumberOProducts)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.Tags)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Name)</td>
                            <td>
                                @if (item.Games.Any())
                                {
                                    <a href=#><span class="badge badge-light">@item.Games.Count()</span></a>
                                }
                                else
                                {
                                    <p>No Products</p>
                                }
                            </td>
                            <td>
                                @* When using many forms in same page. Main index or list View *@
                                <form asp-action="ActivateTag" asp-route-guidValue="@item.GuidValue" method="post">
                                    <div class="btn-group btn-group-sm" role="group" aria-label="">
                                        <a asp-action="EditTag" asp-route-slug="@item.Slug" asp-route-guid="@item.GuidValue.ToString()" class="btn btn-primary">Edit</a>
                                        <a asp-action="Details" asp-route-slug="@item.Slug" asp-route-guid="@item.GuidValue.ToString()" class="btn btn-primary">Details</a>
                                        @if (item.IsDeleted)
                                        {
@*                                             <input type="hidden" asp-for="@item.GuidValue"/> *@
                                            <input type="submit" value="Activate" class="btn btn-success"/>
                                        }
                                        <a asp-action="Delete" asp-route-guid="@item.GuidValue.ToString()" class="btn btn-danger">Delete</a>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
}

</div>

