@using GameStore.Data.Entities
@model GameStore.Areas.Admin.Models.ViewModels.GameDetailViewModel
@{
    ViewData["Title"] = "Details " + Model.Name;
}


<div class="mt-lg-5">
    <div class="row">
        <div class="col-6">
            <h3>Details of @Model.Name</h3>
        </div>
        <div class="col-6">
            <div class="btn-group-sm float-right" role="group" aria-label="">
                <a asp-action="Index" asp-route-active="active" class="btn btn-dark ">All Active Game</a>
                <a asp-action="CreateGame" class="btn btn-dark ">Create Game</a>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-5">
            @* TODO: Image Slideshow will be added *@
            @* <img src="~/@Model.Logo" class="img-thumbnail"/> *@
        </div>
        <div class="col-7">
            <dl>
                <dt>@Html.DisplayNameFor(m => m.Name)</dt>
                <dd>@Html.DisplayFor(m => m.Name)</dd>
                <dt>@Html.DisplayNameFor(m => m.Price)</dt>
                <dd>@Html.DisplayFor(m => m.Price)</dd>
                <dt>@Html.DisplayNameFor(m => m.WebUrl)</dt>
                <dd><a href="@Html.DisplayFor(m => m.WebUrl)" target="_blank">@Html.DisplayFor(m => m.WebUrl)</a> </dd>
                <dt>@Html.DisplayNameFor(m => m.Tag.Name)</dt>
                <dd><a asp-controller="Tags" asp-action="Details" asp-route-slug="@Model.Tag.Slug" asp-route-guid="@Model.Tag.GuidValue.ToString()" target="_blank">@Html.DisplayFor(m => m.Tag.Name)</a> </dd>
                <dt>@Html.DisplayNameFor(m => m.GameDeveloper.Name)</dt>
                <dd><a asp-controller="GameDeveloper" asp-action="Details" asp-route-slug="@Model.GameDeveloper.Slug" asp-route-guid="@Model.GameDeveloper.GuidValue.ToString()" target="_blank">@Html.DisplayFor(m => m.GameDeveloper.Name)</a> </dd>
                
                <dt>@Html.DisplayNameFor(m => m.GameCategoryId)</dt>
                <dd>
                    @if (Model.GameCategoryList.Any())
                    {
                        foreach (GameCategory gameCategory in Model.GameCategoryList)
                        {
                            <a asp-controller="Category" asp-action="Details" asp-route-slug="@gameCategory.Category.Slug" asp-route-guid="@gameCategory.Category.GuidValue.ToString()" target="_blank">@Html.DisplayFor(m => gameCategory.Category.Name)</a>
                        }
                    }
                </dd>

                <dt>@Html.DisplayNameFor(m => m.CTime)</dt>
                <dd>@Html.DisplayFor(m => m.CTime)</dd>
                <dt>@Html.DisplayNameFor(m => m.UTime)</dt>
                <dd>@Html.DisplayFor(m => m.UTime)</dd>
                <dt>@Html.DisplayNameFor(m => m.IsDeleted)</dt>
                @if (Model.IsDeleted)
                {
                    <dd>Not Active</dd>
                }
                else
                {
                    <dd>Active</dd>
                }
                <dt>@Html.DisplayNameFor(m => m.Description)</dt>
                <dd>@Html.DisplayFor(m => m.Description)</dd>
            </dl>
        </div>

        <form asp-action="ActivateGame" method="post">
            <div class="btn-group-sm " role="group" aria-label="">
                <a asp-action="EditGame" asp-route-slug="@Model.Slug" asp-route-guid="@Model.GuidValue.ToString()" class="btn btn-primary">Edit</a>
                @if (Model.IsDeleted)
                {
                    <input type="hidden" asp-for="@Model.GuidValue" />
                    <input type="submit" value="Activate" class="btn btn-success" />
                }
                <a asp-action="Delete" asp-route-guid="@Model.GuidValue.ToString()" class="btn btn-primary ">Delete</a>
            </div>
        </form>
    </div>
</div>

